* {
    box-sizing: border-box;
}


body {
    font-family: 'Arial', sans-serif;
    background-color: #64b5f6;
    color: #000000;
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* cabeçalho */
#logo {
    max-width: 75px;
    max-height: 75px;
    margin: auto 0;
}

#texto-logo {
    gap: 10px;
    margin: 0 0 5px 0;
    color: #008cff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    background-color: #ffffff;
    max-width: 850px;
    width: 100%;
    border-radius: 5px;
    text-align: center;
    margin: 20px auto 0;
    display: flex;
    justify-content: space-between;
    padding: 0px 25px;
}

/* menu de navegacao */
header nav {
    display: flex;
    justify-content: center;
    margin: auto 0;
}

header nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 15px;
}

header nav ul li a {
    color: #000000;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
}

header nav ul li a:hover {
    text-decoration: underline;
}

/* Seções */
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 20px auto;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    max-width: 850px;
    width: 100%;
    text-align: center;
    color: #000000;
}

section p {
    margin-bottom: 20px;
}

section img {
    max-width: 80%;
    height: auto;
    margin-top: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

#informacoes-biogas h1 {
    font-size: 30px;
}

#informacoes-biogas h2 {
    font-size: 26px;
    margin-top: 50px;
}

#informacoes-biogas p {
    text-align: left;
    font-size: 16px;
    line-height: 1.6;
    word-wrap: break-word;
}

/* botão de iniciar */
#iniciar-quiz {
    padding: 15px 30px;
    font-size: 20px;
    background-color: #4caf50;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 30px;
}

#iniciar-quiz:hover {
    background-color: #45a049;
}

/* rodape */
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #30a0fc;
    color: #ffffff;
}

#iniciar-quiz:disabled {
    background-color: #ccc;
    cursor: not-allowed;
    text-decoration: none;
}

/* tela do quiz */
#tela-quiz {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    width: 90%;
    max-width: 850px;
    margin: 20px auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* perguntas */
.perguntas {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    width: 100%;
}

.pergunta {
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 100%;
    box-sizing: border-box;
}

.pergunta .opcoes {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.opcao-resposta {
    width: 100%;
    padding: 12px 24px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    background-color: #8f8f8f;
    color: #ffffff;
    border-radius: 5px;
    margin: 5px;
    transition: background-color 0.3s, transform 0.2s;
}

.opcao-resposta.selecionada {
    background-color: #4CAF50;
    color: white;
}

.opcao-resposta.correta {
    background-color: #4CAF50;
    color: white;
}

.opcao-resposta.errada {
    background-color: #f44336;
    color: white;
}

.opcao-resposta:hover {
    outline: 2px solid #4CAF50;
}

.opcao-resposta:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}

.opcao-resposta.errada:disabled {
    background-color: #f44336;
    color: white;
}

.opcao-resposta.correta:disabled {
    background-color: #4CAF50;
    color: white;
}

#enviar-respostas {
    padding: 15px 30px;
    font-size: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;
    margin-top: 20px;
}

#enviar-respostas:hover {
    background-color: #45a049;
}

#enviar-respostas:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

/* Feedback do jogador */
.feedback {
    font-size: 18px;
    margin-top: 10px;
}

/* resultado final */
#resultado-final {
    margin-top: 20px;
    font-size: 22px;
    font-weight: bold;
    color: #2196F3;
    padding: 20px;
    background-color: #e0f7fa;
    border-radius: 8px;
    text-align: center;
}

/* botão tentar novamente */
#tentar-novamente {
    padding: 15px 30px;
    font-size: 20px;
    background-color: #FF5722;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;
    margin-top: 20px;
}

#tentar-novamente:hover {
    background-color: #e64a19;
}

#tentar-novamente:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

/* integrantes */
#integrantes {
    text-align: center;
}

.foto-integrante {
    aspect-ratio: 1/1;
    width: 50%;
    max-width: 500px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Ícone do LinkedIn */
a.linkedin-icon i {
    font-size: 48px;
    color: #0A66C2;
    transition: color 0.3s;
    margin-right: 10px;
}

a.linkedin-icon i:hover {
    color: #004182;
}

/* Ícone do GitHub */
a.github-icon i {
    font-size: 48px;
    color: #333;
    transition: color 0.3s;
}

a.github-icon i:hover {
    color: #000;
}

#contato {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 30px auto;
}

#form-contato {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#form-contato label {
    font-size: 16px;
    font-weight: bold;
}

#form-contato input,
#form-contato textarea {
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: none;
    width: 300px;
}

#form-contato button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #388e3c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#form-contato button:hover {
    background-color: #2e7d32;
}

.mensagem-erro {
    color: red;
    margin: 0;
}

.mensagem-sucesso {
    color: green;
    margin: 0;
}




@media (max-width: 900px) {
    #logo {
        max-width: 65px;
        max-height: 65px;
    }

    header {
        width: 90%;
        padding: 0px 20px;
    }

    #tela-quiz {
        padding: 20px;
        width: 90%;
        margin: 20px auto;
    }

    .pergunta {
        padding: 15px;
    }

    .opcao-resposta {
        font-size: 16px;
        padding: 10px 20px;
    }

    #enviar-respostas,
    #tentar-novamente {
        font-size: 18px;
        padding: 12px 24px;
    }

    section {
        max-width: 90%;
        padding: 15px;
    }

    #informacoes-biogas h1 {
        font-size: 28px;
    }

    #informacoes-biogas h2 {
        font-size: 24px;
    }

}

@media (max-width: 600px) {
    #logo {
        max-width: 55px;
        max-height: 55px;
    }

    header {
        padding: 0px 15px;
    }

    #tela-quiz {
        padding: 15px;
        width: 90%;
        margin: 10px auto;
    }

    .pergunta {
        padding: 12px;
    }

    .opcao-resposta {
        font-size: 14px;
        padding: 8px 16px;
    }

    #enviar-respostas,
    #tentar-novamente {
        font-size: 16px;
        padding: 10px 20px;
    }

    section {
        padding: 10px;
        margin: 10px auto;
        width: 100%;
    }

    #informacoes-biogas h1 {
        font-size: 26px;
    }

    #informacoes-biogas h2 {
        font-size: 22px;
    }


    .feedback,
    #resultado-final,
    .pergunta {
        font-size: 14px;
    }
}